.container {
  width: 100%;
  transform: scale(1.2);
}

.gridContainer {
  display: grid;
  grid-template-areas:
    "slider1 slider2"
    "slider3 slider3";
  grid-template-columns: 14rem 14rem;
  grid-template-rows: 14rem 14rem;
  gap: 2rem;

  justify-content: center;     
  justify-items: center;       
  margin-left: auto;           
  margin-right: auto;
  margin-top: -5rem;
    margin-top: 1rem;
}

.slider1 { grid-area: slider1; }
.slider2 { grid-area: slider2; }
.slider3 { grid-area: slider3; }

.thirdImageSlider{
margin-left: 13rem;
}

@media (max-width: 768px) {
.container{
  transform: scale(1);
} 
}
