.container {
  min-width: 25rem;
  height: auto;
  padding: 1.5rem;
  background-color: #f0fff0;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  border: 2px solid yellowgreen;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.logo {
  width: 42px;
  height: 42px;
  object-fit: contain;
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.links a {
  text-decoration: none;
  color: #2c5f2d;
  font-weight: 500;
  font-size: 1.2rem;
}

.links span:hover {
  text-decoration: underline;
}

.contactNumber {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.links span {
  text-decoration: none;
  color: #2c5f2d;
  font-weight: 500;
  font-size: 0.8rem;
}

.closeBtn {
  position: absolute;
  top: -1rem;
  right: -0.5rem;

  font-size: 1.1rem;
  width: 2rem;
  height: 2rem;
  background: white;
  border-radius: 50%;
  border: 2px solid yellowgreen;
  color: darkgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}
