.container {
  width: 22rem;
  padding: 1.5rem;
  background-color: #f0fff0;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid yellowgreen;
  margin-top: 5rem;
  position: absolute;
  left: 35%;
}


.card{
display: flex;
flex-direction: column;
padding: 1rem;
color: blueviolet;
background-color: blanchedalmond ;
}

.image{

margin: auto auto auto auto;
}

.image img{
width: 20%;
object-fit: cover;
display: block;
}

