.container {
  width: 100%;
  height: 8rem;
  color: #f9f9f9;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); 
}

.textContainer {
font-size: 1.5rem;
display: flex;
flex-direction: row;
justify-content: space-between;
margin-left: 2rem;
margin-top: 1rem;
}

.textContainer span {
  color: #fffacd; 
  font-weight: bold;
}

.textContainer h1 {
  color: #ffffff; 
  font-weight: bold;
}

.cartContainer{
  padding-right: 4rem;
  padding-top: 0rem;
  font-size: 3rem;
}

@media (max-width: 768px) {
.container{
  padding-left: 5%;
}
}
