.container {
  background-color: black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.5rem;
  height: 1.5rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}



.itemContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  text-align: center;

}

.leftSide{
  display: flex;
  gap: 2rem;
  margin-left: 2rem;
}

/*.brand is from gpt*/
.brand {
  background: linear-gradient(to right, yellowgreen, greenyellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
  color: transparent; /* fallback */
}

.rightSide{
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
}

.leftSide a,
.rightSide a {
  color: aquamarine;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease; /* i dont know animations this from gpt */
}

.leftSide a:hover,
.rightSide a:hover {
  color: aqua;
  transform: scale(1.2);
}


@media (max-width: 700px) {
 .container{
margin-top: -1.4rem;
height: 3.5rem;
position: static;
 }
}

