.container {
  font-family: Tahoma, sans-serif;
  position: fixed;

  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  height: 3rem;
  padding: 0 1.5rem;

  background: linear-gradient(90deg, #a2eb6e 0%, #2ecc71 100%);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border-bottom: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #d4f38e, #a2eb6e);
  position: fixed; /* or sticky */
  z-index: 1; /*Fixed my photoSliders being on top of my navbar when schrolling*/
}

.container a {
  color: white;
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.logoImg {
  height: 2.5rem; /* adjust as needed */
  width: auto;  /* maintain aspect ratio */
  display: flex;
  justify-content: center;
  align-items: center;
}

.nonLogoItems {
  display: flex;
  gap: 2rem;
margin-left: 70%;
  

}

.nonLogoItems a {
      transition: transform 0.3s ease, color 0.3s ease; /* i dont know animations this from gpt */
}

.container a:hover {
 color: #1eff00;
 transform: scale(1.2);
}

@media (max-width: 700px) {
.nonLogoItems{
  gap: 1.5rem;
 }
}
