.container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: clamp(10rem, 20vw, 14rem);
  max-height: clamp(10rem, 20vw, 14rem);
}



.buttonContainer {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
}

.arrow {
  background: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 0.5em;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: all;
  font-size: 1rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow:hover {
  background: rgba(255, 255, 255, 0.9);
}

.imageCSS {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 12px;
  border: 6px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(45deg, #a8e6cf, #ff8b94);

  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.imageCSS.fade {
  opacity: 0;
}


.imageCSS {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.imageCSS.fade {
  opacity: 0;
}

.dotsContainer {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  gap: 0.4rem;
margin-top: -1.5rem;
}

.dot {

  width: 10px;
  height: 10px;
  border-radius: 50%;
background-color: rgb(0, 147, 98);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: rgb(5, 255, 5);
}
