.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 105%;
  border-radius: 12px;
  background-color: aquamarine;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-family: Tahoma, sans-serif;
  background-color: darkturquoise;
  transform: scale(1.1);
}

.title {
  padding-top: 1rem;
  font-size: 1.25em;
  font-weight: bold;
  color: #f9f9f9;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.title2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10rem;
  padding-bottom: 1rem;
}

.qualityText{
color: darkblue;
}

.cutenessText{
color: violet;
}

.formContainer {
  display: flex;
  flex-direction: row;
  
}

.options1,
.options2 {
  display: flex;
  flex-direction: column;
gap: 3rem;
padding-left: 1rem;
padding-right: 0rem;

}

.radioRect {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  border: 1px solid pink;
  border-radius: 10px;
  background-color: yellowgreen;
  cursor: pointer;
  position: relative;
}

.radioRect input {
  display: none;
}

.checked {
  border: 1px solid blue;
  color: yellow;
}

.leftText {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: auto;
  padding: 0.8rem;
}

.rightText {
  display: flex;
  margin-left: auto;
  margin-top: auto;
  padding: 0.5rem;
  color: black;
}

.mySubmit {
margin-top: 0.5rem;

}

.mySubmit button {
  background-color: white;
  color: #2d3436;
  font-weight: 600;

  padding: 0.2rem;
  border: 2px solid #2d3436;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.mySubmit button:hover {
  background-color: #2d3436;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.mySubmit button:active {
  background-color: #444;
  border-color: #444;
  transform: scale(0.98);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}


.ribbon {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 4rem;
  transform: rotate(25deg);
}

@media (max-width: 768px) {
.container{
  transform: scale(1);
}

 .mySubmit{
  transform: scale(1);
  margin-right: 4rem;
 }
}
