* {
  margin: 0;
  padding: 0;
}

html, body {
    background-image: url('BackRoundImage.jpg');
    background-size: cover;      /* makes the image cover the entire element */
    background-position: center; /* centers the image */
    background-repeat: no-repeat; /* prevents tiling */
    width: 100%;                 /* ensures the element has width */
    height: 100vh;               /* ensures the element fills the viewport height */
  
  color: white;
  height: 100%;
  margin: 0;
}


.App{

}

.grid-container {
  display: grid;
  grid-template-areas: 
    "gridProductTitle gridProductTitle"
    "gridSectionLeft gridSectionRight"
    "Footer Footer"
    ;

grid-template-columns: 1fr 1fr;
grid-template-rows: 10rem 30.6rem 2rem;
padding-top: 3rem;



}

.grid1 {  grid-area: gridProductTitle;}
.grid2 { grid-area: gridSectionLeft; }
.grid3 { grid-area: gridSectionRight; }
.grid4 { grid-area: Footer;}

/*Media queries*/

/* Stack on small screens */
@media (max-width: 768px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem;
gap: 1.5rem;
  }


 .grid1, .grid4 {
 width: 100%;
margin-top: 3rem;
}

.grid2, .grid3{
  width: 100%;
  height: 25rem;
}

.grid1{
  height: 5rem;
}
.grid4{
  height: 3rem;
  margin-top: 0.5rem;
  
  gap: 0rem;
}
}






