* {
  margin: 0;
  padding: 0;
}

html, body {
    background-image: url('BackRoundImage.jpg');
    background-size: cover;      
    background-position: center; 
    background-repeat: repeat; 
}


.App{

}

.grid-container {
  display: grid;
  grid-template-areas: 
    "gridProductTitle gridProductTitle"
    "gridSectionLeft gridSectionRight"
"Footer Footer"
    ;

grid-template-columns: 1fr 1fr;
grid-template-rows: 10rem 30.6rem 2rem;
padding-top: 3rem;

  overflow: hidden;

}

.grid1 {  grid-area: gridProductTitle;}
.grid2 { grid-area: gridSectionLeft; }
.grid3 { grid-area: gridSectionRight; }


/*Media queries*/

@media (max-width: 700px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem; /* optional — adds space between items */
  }
}




